<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="footer">
    © 2026 Library Management System | Developed using Spring Boot & Thymeleaf | Developed By Vijay Patil
</div>
    <script>
        function openMenu() {
            document.getElementById("sideMenu").classList.add("open");
            document.getElementById("overlay").classList.add("show");
        }

        function closeMenu() {
            document.getElementById("sideMenu").classList.remove("open");
            document.getElementById("overlay").classList.remove("show");
        }

        function toggleProfile() {
            let dropdown = document.getElementById("profileDropdown");

            if (dropdown.style.display === "block") {
                dropdown.style.display = "none";
            } else {
                dropdown.style.display = "block";
            }
        }


    </script>


</div>